{% extends 'base.html' %}

{% block title %}Reset-password{% endblock title %}

{% block content %}
    {% if validlink %}
        <p>Enter your password twice.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Set new password">


        </form>
    {% else %}
        <p>The password reset link is invalid, possibly because it has alredy\
            been used. Try again with new request.
        </p>
    {% endif %}
{% endblock content %}