{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body >
        <div id="header">
            <span class="logo">Ecommerce</span>
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section == 'home' %}class="selected"{% endif %}>
                    <a href="{% url 'product:home' %}">My Dashboard</a>
                    </li>

                </ul>
            {% endif %}
            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello! <a href ="{% url 'profile' %}">{{ request.user.username|default:request.user.username }}</a> |
                    <a href="{% url 'logout' %}">Logout</a> |
                    <a href="{% url 'password_change' %}">Change password</a>
                {% else %}
                    <a href="{% url 'login' %}">Log-in</a>
                {% endif %}
            </span>
            <span>
                <div class="cart"> 
                    
                    {% with total_items=cart|length %}
                        {% if total_items > 0 %}
                            Your cart:
                            <a href="{% url 'cart:cart_detail' %}">
                            {{ total_items }} item{{ total_items|pluralize }},
                            {{ cart.get_total_price}} AED
                        {% else %}
                            Your cart is empty.
                        {% endif %}
                    {% endwith %}
                    
                </div>

            </span>

        </div>

        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>